General Page Styling


header{
    width: 100%;
    height: 200px;
}

#heading{
    background-color: #ddd1d28f;
    margin-top: -20px;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 100 px;
    font-weight: bold;
    
}

#para1{
    text-align: center;
}

#details{
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 70px;
}

#requirements{
    text-align: center;
    height: 200px;
    
    
}

#prio1{
    height: 40px;
}

#prio2{
    height: 40px;
}
#showcollege{
    display: flex;
}


/* Centering the Button */
.button-container {
    display: flex;
    justify-content:center;
    margin-top: 20px;
}

button{
    background: #007bff;
    color: white;
     font-size: 16px;
    padding: 10px;
     /* border: 5px; */
     border-radius: 5px;
     cursor: pointer;
     width: 200px;
     margin-top: 15px;
    z-index: 10; 
}

button:hover {
    background: #0056b3;
}

#college-results {
    display: block; /* Ensure it is not hidden */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 5px;
}


#college-list {
    list-style-type: none;
    padding: 0;
}

#college-list li {
    padding: 10px;
    background: white;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

